.mapboxgl-ctrl-attrib {
  bottom: 35px;
  position: fixed;
  right: 0;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.main-map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mapboxgl-popup-content {
  font-family: "Urbanist", sans-serif;
  background: #22b573;
  color: #fff;
  min-width: 200px;
  border-radius: 5px;
  position: relative;
  min-height: 22px;
  max-height: 22px;
}
.mapboxgl-popup-content table {
  border-collapse: collapse;
  position: absolute;
  top: 8px;
}
.mapboxgl-popup-content table td {
  padding: 0 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
}
.mapboxgl-popup-content table .number-value {
  font-size: 14px;
  line-height: 1;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #22b573;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #22b573;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #22b573;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #22b573;
}
.mapboxgl-popup-tip {
  border: 14px solid transparent;
}
.mapboxgl-popup-close-button {
  color: #fff;
}
.copy-url {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background: #0d864f;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  right: -10px;
  top: 5px;
  z-index: 100;
  font-size: 11px;
}
.imagery-pills {
  position: fixed;
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 1000;
}
.imagery-pills .ant-radio-button-wrapper {
  padding-inline: 20px !important;
  text-transform: uppercase;
  font-size: 12px;
}
.imagery-pills .ant-radio-button-wrapper {
  background: rgb(11, 95, 58) !important;
  color: #fff;
  border: none !important;
}
.imagery-pills .ant-radio-button-wrapper:hover {
  color: #fff;
}
.imagery-pills .ant-radio-button-wrapper-checked {
  background: rgba(34, 181, 115, 1) !important;
  border: none !important;
}
.imagery-pills .ant-radio-button-wrapper-checked::before {
  width: 0px !important;
}