.mapboxgl-ctrl-attrib {
  bottom: 35px;
  position: fixed;
  right: 0;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.main-map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mapboxgl-popup-content {
  font-family: "Urbanist", sans-serif;
  background: #22b573;
  color: #fff;
  min-width: 200px;
  border-radius: 5px;
  position: relative;
  min-height: 22px;
  max-height: 22px;
}
.mapboxgl-popup-content table {
  border-collapse: collapse;
  position: absolute;
  top: 8px;
}
.mapboxgl-popup-content table td {
  padding: 0 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
}
.mapboxgl-popup-content table .number-value {
  font-size: 14px;
  line-height: 1;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #22b573;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #22b573;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #22b573;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #22b573;
}
.mapboxgl-popup-tip {
  border: 14px solid transparent;
}
.mapboxgl-popup-close-button {
  color: #fff;
}
.copy-url {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background: #0d864f;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  right: -10px;
  top: 5px;
  z-index: 100;
  font-size: 11px;
}
.imagery-pills {
  position: fixed;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 1000;
  width: 100%;
}
.year-pills .ant-radio-button-wrapper,
.imagery-pills .ant-radio-button-wrapper {
  padding-inline: 20px !important;
  text-transform: uppercase;
  font-size: 12px;
}
.year-pills .ant-radio-button-wrapper,
.imagery-pills .ant-radio-button-wrapper {
  background: rgb(11, 95, 58) !important;
  color: #fff;
  border: none !important;
}
.year-pills .ant-radio-button-wrapper:hover,
.imagery-pills .ant-radio-button-wrapper:hover {
  color: #fff;
  opacity: 0.9;
}
.year-pills .ant-radio-button-wrapper-checked,
.imagery-pills .ant-radio-button-wrapper-checked {
  background: rgba(34, 181, 115, 1) !important;
  border: none !important;
}
.year-pills ant-radio-button-wrapper-checked::before,
.imagery-pills .ant-radio-button-wrapper-checked::before {
  width: 0px !important;
}
.year-pills .ant-radio-button-wrapper-checked::before {
  background: none !important;
}
.year-pills .ant-radio-button-wrapper:not(:first-child)::before {
  background: none !important;
}
.year-pills {
  position: fixed;
  width: 415px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  top: 50px;
  z-index: 1000;
}
@media (max-width: 600px) {
  .year-pills {
    top: 45px;
  }
}
.partners {
  position: fixed;
  left: 20px;
  bottom: 50px;
  z-index: 40;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  z-index: 100;
}
.partners a {
  margin: 0 20px 0 0;
  opacity: 0.8;
}
.partners a:hover {
  opacity: 0.6;
}
.pc-logo {
  display: inline-block;
  text-indent: -9999px;
  width: 170px;
  height: 40px;
  background: url("/images/pc-logo.png") no-repeat center center;
  background-size: contain;
}
.rin-logo {
  display: inline-block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url("/images/rin-logo.png") no-repeat center center;
  background-size: contain;
}
.eg-logo {
  display: inline-block;
  text-indent: -9999px;
  width: 100px;
  height: 40px;
  background: url("/images/eg-logo.png") no-repeat center center;
  background-size: contain;
}
@media (max-width: 950px) {
  .partners {
    display: none;
  }
}

.ant-radio-button-wrapper:not(:first-child)::before {
  height: 0px;
}