@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 60px;
}


.case-study-images {
  position: absolute;
  left: -60%;
  top: 300px;
  width: 50%;
}
.case-study-images img {
  margin-bottom: 20px;
}