@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.fade-in {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.case-study-images {
  position: absolute;
  left: -60%;
  top: 300px;
  width: 50%;
}
.case-study-images img {
  margin-bottom: 20px;
}

.amw-btn {
  display: block;
  padding: 10px 10px;
  background: #ecaf00;
  color: #003e30 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  margin: 0 auto;
  width: 260px;
  text-align: center;
  font-size: 14px;
  text-decoration: none !important;
}
.amw-btn:hover {
  background: #22b573;
}
.amw-mail-link {
  font-size: 24px !important;
}
.slideshow {
  position: fixed;
  right: 800px;
  width: 300px;
  top: 200px;
}


