.loader {
  text-align: center;
}
.loader .content {
  margin-top: 20%;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 30px;
}
.js-loader-dot {
  width: 4px;
  height: 4px;
  background: #fff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
}
.loader-dots {
  display: inline-block;
}
