.loader {
  text-align: center;
  background: #003e36 url('/images/overlay-bg.png') no-repeat top center;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}
.loader .content {
  margin-top: 20%;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 30px;
}
.js-loader-dot {
  width: 4px;
  height: 4px;
  background: #fff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
}
.loader-dots {
  display: inline-block;
}
