.area {
  position: fixed;
  left: 50px;
  bottom: 200px;
  width: 290px;
  z-index: 500;
  color: #003e36;
  text-align: center;
}
@media (max-width: 1000px) {
  .area {
    color: #fff;
    text-shadow: 1px 1px 10px #003e36;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.area-title {
  font-size: 24px;
  text-transform: uppercase;
}
.area-km {
  font-size: 50px;
  font-weight: 900;
}
.area-or {
  position: relative;
}
.area-line-left {
  position: absolute;
  background: #003e36;
  width: 40%;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  height: 1px;
}
@media (max-width: 1000px) {
  .area-line-left {
    background: #fff;
  }
}
.area-line-right {
  position: absolute;
  background: #003e36;
  width: 40%;
  position: absolute;
  right: 0;
  top: calc(50% - 2px);
  height: 1px;
}
@media (max-width: 1000px) {
  .area-line-right {
    background: #fff;
  }
}
.area-acres {
  font-size: 24px;
}
