.mini-map {
  position: fixed;
  right: 80px;
  bottom: 100px;
  width: 200px;
  height: 150px;
}
.scale {
  position: fixed;
  width: 50px;
  border-bottom: 1px solid #fff;
  bottom: 14px;
  right: 20px;
}
.scale .scale-left {
  position: absolute;
  left: 0;
  height: 5px;
  bottom: 0px;
  border-left: 1px solid #fff;
}
.scale .scale-right {
  position: absolute;
  right: 0;
  height: 5px;
  bottom: 0px;
  border-left: 1px solid #fff;
}
