.intro {
  text-align: center;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 600px) {
  .intro {
    width: 80%;
    top: 20%;
  }
}
.overlay .intro h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}
@media (max-width: 600px) {
  .overlay .intro h1 {
    font-size: 20px;
  }
}
.overlay .intro p {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 600px) {
  .overlay .intro p {
    font-size: 13px;
  }
}
.intro .btn {
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px 100px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
}
.intro .btn:hover {
  opacity: 0.6;
}
