.footer {
  position: fixed;
  background: rgba(34, 181, 115, 0.6);
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 35px;
  text-align: center;
  color: #fff;
}
.footer .mode {
  position: absolute;
  right: 200px;
  font-size: 11px;
  text-transform: uppercase;
  width: 340px;
  text-align: center;
  top: 8px;
  font-weight: bold;
}
.mining-legend {
  color: #fff;
  right: 490px;
  top: 10px;
  font-size: 11px;
  position: absolute;
  text-transform: uppercase;
}
.mine-swatch {
  display: block;
  height: 10px;
  width: 10px;
  left: -20px;
  top: 1px;
  position: absolute;
  background: rgba(236, 175, 0, 0.7);
  border: 1px solid #ecaf00;
}
